#login-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

#login-container input[type="text"],
#login-container input[type="password"] {
  margin-right: 5px;
  outline: 2px solid white;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 16px;
  padding: 5px;
}

#password-input {
  position: relative;
  padding-right: 30px;
}

#login-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
