@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #e2e8f0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  margin: 0;
}
